<!DOCTYPE html>

<html>

<head>
    <title>
        A dynamic hbs HTML-About page.
    </title>
    <link rel= "stylesheet" href="css/style.css">
</head>

<body>

    <head><h3>About Page.</h3></head><br><br>

    <div>
        Node Js Tutorial and Weather page.
    </div><br>
    
    <p>{{>header}}</p><br>

    <footer>{{>footer}}</footer>


</body>

</html>