<!DOCTYPE html>

<html>

<head>
    <title>
        A dynamic hbs HTML-help page.
    </title>
    <link rel= "stylesheet" href="css/style.css">
</head>

<body>

    <header><h3>Help Page.</h3></header><br><br>
    <div>
        Node Js Tutorial and Weather page.
    </div><br>

    
    <p>{{>header}}</p><br>

    
    <footer>{{>footer}}</footer>



</body>

</html>